<nav class="principal-header navbar navbar-expand-lg app-navbar">
    <div class="principal-header-container container-fluid">
        <div class="principal-header-container-section">
            <i class="bi bi-receipt-cutoff principal-header-container-section-logo"></i>
            <span class="principal-header-container-section-name">
                Facturacion
            </span>

        </div>

        <div class="principal-header-container-section">
            <i class="bi bi-person-circle principal-header-container-section-user-icon"></i>
            <span class="principal-header-container-section-username">
                Paola Vega Vasquez
            </span>
        </div>
    </div>
</nav>