<p-table [value]="data" [paginator]="true" [rows]="10" responsiveLayout="scroll" styleClass="principal-table">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>

            <th *ngIf="showActions">
                Acciones
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr>

            <td *ngFor="let col of columns">
                {{ row[col.field] }}
            </td>

            <td *ngIf="showActions" class="actions">

                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                    (click)="delete.emit(row)">
                </button>

            </td>

        </tr>
    </ng-template>

    <ng-template pTemplate="footer">
        <ng-content></ng-content>
    </ng-template>

</p-table>